.box-table {
    width: 100%;
    margin: 20px;
}

.column-1 {
    width: 100px;
    text-align: center;
}

.column-2 {
    width: 600px;
}

.button-category {
    margin-left: 12px;
    width: 135px;
}