@media (min-width: 376px) and (max-width: 991px) {
    .complain-admin-kiri {
        display: none;
    }

    .complain-admin-kanan {
        height: 80vh;
        border-left: 1px solid rgba(106, 106, 106, 0.3);
    }

    .box-chat-atas {
        padding-top: 15px;
        width: 300px;
        height: 60px;
        background-color: #262626;
        border-radius: 5px;
    }

    .box-chat-bawah {
        padding-top: 15px;
        width: 300px;
        height: 60px;
        background-color: #262626;
        border-radius: 5px;
    }

    .form-complain {
        margin-top: 80px;
        color: white !important;
        background-color: #181818 !important;
        height: 50px;
        border-color: #181818 !important;
    }

    .paragrapgh-complain {
        color: #ABABAB;
        font-size: 14px;
    }

    .judul-complain {
        color: white;
        font-size: 16px;
    }
}

@media (min-width: 992px) and (max-width: 1600px) {
    .complain-admin-kiri {
        display: block;
    }

    .complain-admin-kanan {
        height: 80vh;
        border-left: 1px solid rgba(106, 106, 106, 0.3);
    }

    .box-chat-atas {
        padding-top: 15px;
        width: 300px;
        height: 60px;
        background-color: #262626;
        border-radius: 5px;
    }

    .box-chat-bawah {
        padding-top: 15px;
        width: 300px;
        height: 60px;
        background-color: #262626;
        border-radius: 5px;
    }

    .form-complain {
        margin-top: 80px;
        color: white !important;
        background-color: #181818 !important;
        height: 50px;
        border-color: #181818 !important;
    }

    .paragrapgh-complain {
        color: #ABABAB;
        font-size: 14px;
    }

    .judul-complain {
        color: white;
        font-size: 16px;
    }
}