.judul-produk {
    color: #F74D4D;
    margin-top: 14px;
    margin-left: 16px;
    text-decoration: none;
}

.img-fluid {
    margin-bottom: 15px !important;
}

.img-home {
    width: 100% !important;
    padding: 10px;
    border-radius: 10px;
}

.paragrapgh-produk {
    color: white;
    margin-left: 16px;
}

.box-product {
    background-color: #212121;
    height: 470px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 270px;
}