body {
    background-color: black !important;
}

a.nav-link:hover {
    color: #F74D4D !important;
}

.nav-active-color {
    color: #F74D4D !important;
}

.nav-inactive-color {
    color: white !important
}

.form-search {
    background-color: #181818 !important;
    color: white !important;
    width: 300px;
    margin-left: 16px;
}