body {
    background-color: black !important;
}

a.nav-link:hover {
    color: #F74D4D !important;
}

.nav-active-color {
    color: #F74D4D !important;
}

.nav-inactive-color {
    color: white !important
}

.upload-buttons {
    width: 235px !important;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #F74D4D !important;
    border: 1px solid #F74D4D !important;
    color: white !important
}