body {
    background-color: black !important;
}

a.nav-link:hover {
    color: #F74D4D !important;
}

.nav-active-color {
    color: #F74D4D !important;
}

.nav-inactive-color {
    color: white !important
}

.upload-buttons {
    width: 235px !important;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #F74D4D !important;
    border: 1px solid #F74D4D !important;
    color: white !important
}

.select-pembayaran {
    background-color: black;
    color: white;
}

.button-kiri-count {
    background-color: #F74D4D !important;
    border-color: #F74D4D;
    margin-right: 10px;
    height: 35px;
}

.button-kanan-count {
    background-color: #F74D4D !important;
    border-color: #F74D4D;
    margin-left: 10px;
    height: 35px;
}

.modal-content {
    background-color: transparent;
}

.pagination>li>a {
    background-color: black;
    color: whitesmoke;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>.active>a {
    color: black;
    background-color: whitesmoke !Important;
    border: solid 1px whitesmoke !Important;
}

.pagination>.active>a:hover {
    background-color: #181818 !Important;
    border: solid 1px #181818;
}