.profile-kiri {
    display: flex;
}

.judul-profile {
    color: #F74D4D;
}

.paragrapgh-produk-profile {
    color: white;
    margin-top: 5px;
    margin-left: 35px;
}

.img-chat {
    width: 40px !important;
    height: 40px !important;
    object-fit: cover !important;
}

.judul-produk-profile {
    color: #F74D4D;
    margin-bottom: 5px;
    margin-left: 35px;
}

.judul-samping-profile {
    color: #F74D4D;
    margin-left: 25px;
    margin-bottom: 5px;
}

.paragrapgh-samping-profile {
    color: white;
    margin-left: 25px;
    margin-top: 5px;
}

.paragrapgh-profile {
    color: white;
}

.box-profile {
    background-color: #303030;
    height: 200px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

.img-samping {
    margin-left: 20px;
    width: 80px;
    height: 120px;
}

.icon-samping {
    margin: auto;
}